:root {
  --logo1-color: #2196f3;
  --logo2-color: #000000;
  --color-header: #ffffff;
  --color-h2: #212121;
  --color-par: #757575;
  --background-color: #2f303a;
  --filter-color: #f5f4fa;
}

h1,
h2,
h3,
p,
ul {
  margin: 0 0;
  padding: 0 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-h2);
  margin: 0;
  box-sizing: border-box;
}

.title {
  font-family: "Raleway";
}

.container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  outline: 2px dashed #f44336;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.content-menu {
  display: flex;
  padding: 15px 15px;
  flex-grow: 1;
  justify-content: space-evenly;
  list-style: none;
  width: 270px;
  align-items: center;
}

.content-kontakt {
  display: flex;
  padding: 15px 15px;
  justify-content: space-around;
  position: absolute;
  right: 200px;
  width: 387px;
  align-items: center;
  list-style: none;
}

.logo {
  display: flex;
  padding: 0;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  text-decoration: underline;
  text-decoration-color: var(--logo1-color);
}
.logo1 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo1-color);
  text-decoration: none;
}
.logo2 {
  font-family: "Oleo Script";
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo2-color);
  text-decoration: none;
}
.logo1:hover,
.logo1:focus {
  background-color: var(--color-header);
  color: var(--logo1-color);
  border-color: var(--logo1-color);
  text-decoration: underline;
  text-decoration-color: var(--logo1-color);
}

.logo2:hover,
.logo2:focus {
  background-color: var(--color-header);
  color: var(--logo2-color);
  border-color: var(--logo1-color);
  text-decoration: underline;
  text-decoration-color: var(--logo1-color);
}
.nav {
  color: var(--color-h2);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav:hover,
.nav:focus {
  background-color: var(--color-header);
  color: var(--logo1-color);
  border-color: var(--logo1-color);
}
.ck1 {
  color: var(--logo1-color);
}
.ck2 {
  color: var(--color-par);
}

.background-intro {
  background-color: var(--background-color);
}
.container-h1-button1 {
  display: block;
  outline: 2px dashed #f44336;
}
.h1 {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 30px;
  width: 696px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--color-header);
  outline: 2px dashed #f44336;
}

.button1 {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--color-header);
  background-color: var(--logo1-color);
  border-color: var(--logo1-color);
  outline: 2px dashed #f44336;
}
.container-describe {
  display: block;
  padding-top: 30px;
  outline: 2px dashed #f44336;
}
.h2 {
  padding-bottom: 20px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-h2);
}

.card-set {
  display: flex;
  padding-bottom: 10px;
  flex-wrap: nowrap;
  gap: 40px;
  list-style: none;
}
.item {
  flex-basis: calc((100%-120px) / 4);
  text-align: justify;
  padding-top: 10px;
  align-items: stretch;
}

.container-img {
  display: block;
  justify-content: center;
  align-items: center;
}

.images-agencja {
  display: flex;
  list-style: none;
  gap: 20px;
}

.item-img {
  flex-basis: calc((100%-40px) / 3);
}

.h3 {
  padding: 10px 0;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-h2);
}

h1.p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--color-par);
}
.team-background {
  background-color: var(--filter-color);
}
.team {
  display: flex;
  list-style: none;
  gap: 20px;
}
.names {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-h2);
}

.p1 {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-par);
}

.container-filter {
  display: flex;
  margin: auto;
  width: 572px;
  justify-content: space-evenly;
  list-style: none;
}
.filter {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--logo2-color);
  background-color: var(--filter-color);
  border-radius: 4px;
  border-color: var(--filter-color);
}

.filter:hover,
.filter:focus {
  background-color: var(--logo1-color);
  color: var(--color-header);
  border-color: var(--logo1-color);
  text-decoration: none;
}

.container-portfolio {
  margin: 0;
  padding: 0;
}
.portfolio-set {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}

.portfolioimage1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-h2);
}

.portfolioimage2 {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-par);
}

.container-footer {
  display: block;
}
.footer {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
  list-style: none;
}
.footer:hover,
.footer:focus {
  background-color: var(--logo1-color);
  color: var(--color-header);
  border-color: var(--logo1-color);
  text-decoration: underline;
}

.footeradres {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.cf1 {
  color: var(--color-header);
}
.cf2 {
  color: #ffffff99;
}
